[Unit]
Description=Timer for Hyprpaper Sun Sync

[Timer]

# Läuft alle 15 Minuten (reicht völlig aus für den Sonnenverlauf)
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
