* {
    background-image: none;
    font-family: "$FONT";
}

window {
    background-color: rgba(0, 0, 0, 0.85);
}

button {
    color: $TEXTCOLOR1_6;
    background-color: $BACKGROUND1_6;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-color: $BORDERINACTIVE_6;
    border-radius: 20px;
    margin: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: $WORKSPACESBACKGROUND3_6;
    border-color: $BORDERACTIVE1_6;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
