#!/bin/bash

background-color=$BACKGROUND0_6
progress-color=$BORDERACTIVE1_6
[urgency=low]
border-color=$COL_NOT_LOW_6
[urgency=normal]
border-color=$COL_NOT_NORMAL_6
[urgency=high]
border-color=$COL_NOT_CRITICAL_6
