* {
    background-image: none;
    font-family: "$FONT";
}

window {
    background-color: rgba(0, 0, 0, 0.85);
}

button {
    color: $TEXTCOLOR1_6;
    background-color: rgba(0,0,0,0.4); /* Schwarz & Transparent */
    border-style: solid;
    border-width: 2px;
    border-color: $BORDERINACTIVE_6;
    border-radius: 30px;
    margin: 20px;
    font-size: 100px; /* Macht die Nerd Font Icons riesig */
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: rgba(0,0,0,0.4); /* Bleibt konstant, kein graues Highlighting */
    border-color: $BORDERACTIVE1_6;
    color: $TEXTCOLOR2_6; /* Icon färbt sich leicht um beim Hover */
    outline-style: none;
}
