#!/usr/bin/env
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Whatsapp
Exec=uwsm app -- google-chrome-stable --app=https://web.whatsapp.com/
Icon=whatsapp
StartupWMClass=whatsapp
